.weather-current .media-left {
  text-align: center;
}
.weather-current-icon {
  width: 128px;
  height: 128px;
}

/**
 * 10 day
 */

.weather-10-day {
  display: inline;
}
.weather-day-box {
  border: 1px solid #eee;
  display: inline-table;
  padding: 4px;
  width: 60px;
  font-size: 12px;
}
.weather-day-icon {
  width: 48px;
  height: 48px;
}
